* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.navbar {
    list-style-type: none;
    display: block;
    width: 100wh;
    height: 10vh;
    padding: 20px;
}

.nav-a {
    float: left;
    display: flex;
}
.nav-a li {
    padding: 5px;
}

.nav-b {
    float: right;
    display: flex;
}

.nav-b li {
    padding: 7px;
}
.google-logo {
    display: block;
    margin-bottom: 10%;
    margin-top: 10%;
    margin-left: 40%;
}

.menu-icon {
    height: 15px;
    display: block;
}